<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Task Edit</title>
</h:head>
<h:body>
    <ui:include src="navbar.xhtml"/>
    <h:form>
        <h:panelGrid id="panel" columns="1" border="0"
                     cellpadding="5" cellspacing="2">
            <h:outputText value="ENTER TASK NAME: "/>
            <h:inputText value="#{taskBean.name}"/>
            <h:outputText value="ENTER TASK DESCRIPTION: "/>
            <h:inputText value="#{taskBean.description}"/>
            <h:outputText value="SELECT TASK STATUS: "/>
            <h:selectOneMenu value="#{taskBean.status}">
                <f:selectItem itemValue="PLANNED" itemLabel="PLANNED"/>
                <f:selectItem itemValue="INPROGRESS" itemLabel="INPROGRESS"/>
                <f:selectItem itemValue="READY" itemLabel="READY"/>
            </h:selectOneMenu>
            <h:outputText value="ENTER TASK DATE BEGIN: "/>
            <h:inputText value="#{taskBean.dateBegin}"/>
            <h:outputText value="ENTER TASK DATE END: "/>
            <h:inputText value="#{taskBean.dateEnd}"/>
            <h:commandButton type="submit" value="Edit" action="#{taskBean.update(taskBean.taskId, taskBean.name, taskBean.description,
    taskBean.status, taskBean.dateBegin, taskBean.dateEnd)}" style="margin-right:20px;" ajax="false"/>
        </h:panelGrid>
    </h:form>
</h:body>
</html>
