<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:include src="navbar.xhtml"/>
<h:form>
    <h:panelGrid id="panel" columns="1" border="0"
                 cellpadding="5" cellspacing="2">
        <h:outputText value="ENTER TASK NAME: "/>
        <h:inputText value="#{taskBean.name}"/>
        <h:outputText value="ENTER TASK DESCRIPTION: "/>
        <h:inputText value="#{taskBean.description}"/>
        <h:outputText value="ENTER TASK DATE BEGIN: "/>
        <h:inputText value="#{taskBean.dateBegin}"/>
        <h:outputText value="ENTER TASK DATE END: "/>
        <h:inputText value="#{taskBean.dateEnd}"/>
        <h:commandButton value="Create"
                         action="#{taskBean.insert(projectBean.findOne(projectBean.projectId), taskBean.name, taskBean.description, taskBean.dateBegin, taskBean.dateEnd)}"/>
    </h:panelGrid>
</h:form>
</html>
