<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Task List</title>
</h:head>
<h:body>
    <ui:include src="navbar.xhtml"/>
    <h:form>
        <p:dataTable var="task" value="#{taskBean.findAll(projectBean.projectId)}">
            <p:column headerText="Project id">
                <h:outputText value="#{task.project.id}"/>
            </p:column>
            <p:column headerText="Task id">
                <h:outputText value="#{task.id}"/>
            </p:column>
            <p:column headerText="name">
                <h:outputText value="#{task.name}"/>
            </p:column>
            <p:column headerText="description">
                <h:outputText value="#{task.description}"/>
            </p:column>
            <p:column headerText="status">
                <h:outputText value="#{task.status}"/>
            </p:column>
            <p:column headerText="date begin">
                <h:outputText value="#{task.dateBegin}"/>
            </p:column>
            <p:column headerText="date end">
                <h:outputText value="#{task.dateEnd}"/>
            </p:column>
            <p:column headerText="edit">
                <h:commandButton id="ajax" value="edit" action="taskEdit?faces-redirect=true" style="margin-right:20px;" ajax="false" >
                    <f:setPropertyActionListener value="#{task.id}" target="#{taskBean.taskId}"/>
                </h:commandButton>
            </p:column>

            <p:column headerText="delete">
                <p:commandButton value="delete" action="#{taskBean.removeOne(task.id)}" style="margin-right:20px;" ajax="false" />
            </p:column>
        </p:dataTable>
        <p:commandButton value="Create task"  action="taskCreate?faces-redirect=true" style="margin-right:20px;" ajax="false" />
    </h:form>
</h:body>
</html>
